<header class="page-header navbar-expand-lg sticky-top" id="top">
    <div class="container-fluid px-32">
        <nav class="page-nav">
            <a href="https://themeforest.net/user/pixelaxis/portfolio" class="nav-brand d-flex align-items-center" target="_blank" style="gap: 12px;">
                <img src="../assets/images/logo-light.png" alt="logo">
            </a>
            <div class="nav-list">
                <a href="https://themeforest.net/user/pixelaxis/portfolio">Support</a>
                <a href="https://themeforest.net/user/pixelaxis/portfolio" target="_blank">Templates</a>
                <a href="javascript:void(0)" class="toggle-navbar"><i class="far fa-bars"></i></a>
            </div>
        </nav>
    </div>
</header>