<aside class="sidebar-navigation stick-to-top">
    <nav class="nav">
        <form action="#" class="search-form m-b-20">
            <div class="input-group">
                <input type="text" class="search-input" placeholder="Search item">
            </div>
        </form>
        <ul class="doc-nav">
            <li>
                <a class="nav-link" href="#start">Getting Started</a>
                <ul class="sub-nav">
                    <li><a class="nav-link" href="#overview">Overview</a></li>
                    <li><a class="nav-link" href="#technologies">Technologies Used</a></li>
                    <li><a class="nav-link" href="#requirements">Requirements</a></li>
                    <li><a class="nav-link" href="#installation-on-server">Installation on Server</a></li>
                    <li><a class="nav-link" href="#installation-on-local">Installation on Local</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="#admin">Admin Panel</a>
                <ul class="sub-nav">
                    <li><a class="nav-link" href="#company-setup">Company Setup</a></li>
                    <li><a class="nav-link" href="#property-management">Property Management</a></li>
                    <li><a class="nav-link" href="#invest">Invest</a></li>
                    <li><a class="nav-link" href="#withdrawals">Withdrawals</a></li>
                    <li><a class="nav-link" href="#user-management">User Management</a></li>
                    <li><a class="nav-link" href="#ticket-management">Ticket Management</a></li>
                    <li><a class="nav-link" href="#referral-setting">Referral Setting</a></li>
                    <li><a class="nav-link" href="#user-ranking">User Ranking</a></li>
                    <li><a class="nav-link" href="#transactions">Transactions</a></li>
                    <li><a class="nav-link" href="#subscribers">Subscribers</a></li>
                    <li><a class="nav-link" href="#blog">Blog</a></li>
                    <li><a class="nav-link" href="#multi-language">Multi Language</a></li>
                    <li><a class="nav-link" href="#kyc-setting">KYC Setting</a></li>
                    <li><a class="nav-link" href="#payment-gateways">Payment Gateways</a></li>
                    <li><a class="nav-link" href="#cronjob-setting">Cronjob Setting</a></li>
                    <li><a class="nav-link" href="#contacts">Contacts</a></li>
                    <li><a class="nav-link" href="#section-management">Section Management</a></li>
                    <li><a class="nav-link" href="#section-statuses">Section Statuses</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="#user">User Dashboard</a>
                <ul class="sub-nav">
                    <li><a class="nav-link" href="#user-dashboard">Dashboard</a></li>
                    <li><a class="nav-link" href="#user-make-deposit">Add Balance</a></li>
                    <li><a class="nav-link" href="#user-withdraw">Withdraw</a></li>
                    <li><a class="nav-link" href="#user-referrals">Referrals</a></li>
                    <li><a class="nav-link" href="#user-transaction">Transaction</a></li>
                    <li><a class="nav-link" href="#user-edit-profile">Edit Profile</a></li>
                    <li><a class="nav-link" href="#user-support-ticket">Support Ticket</a></li>
                    <li><a class="nav-link" href="#user-logout">Logout</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="#support">Support</a></li>
        </ul>
    </nav>
</aside>